*.o
*.a
*.lo
*.la
*.swp
*.patch
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config
config.h
config.h.in
config.log
config.status
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache
connman-ui.pc
config.guess
config.sub
src/connman-ui-gtk
include/version.h
po/POTFILES
po/remove-potcdate.sed
